extends layout

block content
  h1 CryptMe Encryption Service
  p.lead Upload your file below:
  hr
  .row
    .col-md-6
      h2 Heading
      Luca likes to eat cheese
      p
        a.btn.btn-raised(href='#', role='button') View details »
    .col-md-6
      h2 Heading
      I need to sleep
      p
        a.btn.btn-raised(href='#', role='button') View details »
    .col-md-6
      h2 Heading
      Please give me cheese
      p
        a.btn.btn-raised(href='#', role='button') View details »
    .col-md-6
      h2 Heading
      Help
      p
        a.btn.btn-raised(href='#', role='button') View details »